html/* Make the background colour of the entire page lightskyblue*/
{
	background-color: lightskyblue;
}
h1
{
	font-family: helvetica;
	text-align: center;
	font-size: 70px;
	padding: 60px;
	background-color: lightskyblue;
	margin: 40px;
}
h2
{
	font-family: helvetica;
	font-size: 60px;
}
.computer
{
	margin: 40px;
}
#computerimg
{
	float: right;
	font-family: helvetica;
	margin-left: 20px;
}
#computertext
{
	font-family: helvetica;
	word-break: normal;
	font-size: 28px;
}

.videogames
{
	margin: 40px;
}
#game
{
	float: left;
	font-family: helvetica;
	padding: 25px;
}
#videogamestext
{
	
	font-family: helvetica;
	word-break: normal;
	font-size: 28px;
	padding: 40px;
}
.buttons
{
	text-align: center;
	word-spacing: 15px;
}
.outline/* prepare the outline style for my buttons*/
{
	background-color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding: 24px 48px;
	transition: box-shadow 0.5s;
}
.outline:hover/* make the transition occur when hovering*/
{
	box-shadow: inset 0px 0px 0px 10px #0099ff;
}
.top:hover/* make the transition occur when hovering*/
{
	box-shadow: inset 0px 0px 0px 10px #0099ff;
}
.validators
{
	bottom: 0;
}