html/* Make the background colour of the entire page lightskyblue*/
{
	background-color: lightskyblue;
}
h1
{
	font-family: helvetica;
	text-align: center;
	font-size: 70px;
	padding: 60px;
	background-color: lightskyblue;
	margin: 40px;
}
h2
{
	font-family: helvetica;
	font-size: 60px;
	margin: 40px;
}
li
{
	font-family: helvetica;
	margin: 40px;
	font-size: 23px;
}
.buttons
{																				
	text-align: center;
	word-spacing: 15px;
}
.outline/* prepare the outline style for my buttons*/
{
	background-color: white;
	font-family: helvetica;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding: 24px 48px;
	transition: box-shadow 0.5s;
}
.outline:hover/* make the transition occur when hovering*/
{
	box-shadow: inset 0px 0px 0px 10px #0099ff;
}
.validators
{
	bottom: 0;
}
table, th, td
{
	border: 1px solid black;
	font-family: helvetica;
	font-size: 24px;
	border-color: black;
	margin-left: 30px;
	text-align: center;
}